<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>profile card</title>
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link
      rel="stylesheet"
      href="../../../assets/font-awesome/css/font-awesome.min.css"
    />
  </head>
  <body class="bg-gray-100 p-2 sm:p-10 font-sans">
    <main class="flex justify-center items-center">
      <section
        class="bg-surface-secondary dark:bg-gray-custom rounded-lg flex flex-col justify-center items-center p-9 shadow-zinc-200 shadow-2xl max-w-md text-center"
      >
        <figure class="size-28">
          <img
            src="https://avatars.githubusercontent.com/u/45038844?v=4"
            alt="ladan-taheri"
            class="w-full h-full object-cover rounded-full border-violet-400/50 border-4 outline-indigo-100 outline-8 dark:outline-slate-700"
          />
        </figure>
        <h2
          class="text-slate-800 dark:text-white font-bold text-2xl tracking-wide pt-2.5"
        >
          Ladan taheri
        </h2>
        <h5 class="text-blue-700 dark:text-indigo-400 text-base pt-1">
          Full-Stack Developer
        </h5>
        <p
          class="text-slate-600 dark:text-slate-300 text-base pt-1 pb-4 border-b-2 border-slate-100 dark:border-slate-700"
        >
          I build modern, responsive and user-friendly web applications with
          clean code
        </p>
        <section class="flex mt-4 gap-3 flex-wrap md:flex-nowrap">
          <div
            class="flex justify-center items-center text-left gap-2.5 text-2xl px-4 py-2 bg-surface dark:bg-gray-800 border border-slate-200 dark:border-slate-700 rounded-2xl flex-1"
          >
            <i class="fa fa-calendar text-indigo-500" aria-hidden="true"></i>
            <div>
              <p class="text-gray-500 text-xs dark:text-white">Joined</p>
              <p class="text-gray-700 text-sm dark:text-white whitespace-nowrap">
                Apr 2023
              </p>
            </div>
          </div>
          <div
            class="flex justify-center items-center text-left gap-2.5 text-2xl px-4 py-2 bg-surface dark:bg-gray-800 border border-slate-200 dark:border-slate-700 rounded-2xl flex-1"
          >
            <i class="fa fa-map-marker text-indigo-500" aria-hidden="true"></i>
            <div>
              <p class="text-gray-500 text-xs dark:text-white">Location</p>
              <p class="text-gray-700 text-sm dark:text-white whitespace-nowrap">
                Tehran, Iran
              </p>
            </div>
          </div>
          <div
            class="flex justify-center items-center text-left gap-2.5 text-2xl px-4 py-2 bg-surface dark:bg-gray-800 border border-slate-200 dark:border-slate-700 rounded-2xl flex-1"
          >
            <i class="fa fa-code text-indigo-500" aria-hidden="true"></i>
            <div>
              <p class="text-gray-500 text-xs dark:text-white">Projects</p>
              <p class="text-gray-700 text-sm dark:text-white whitespace-nowrap">
                +24
              </p>
            </div>
          </div>
        </section>
      </section>
    </main>
  </body>
</html>
